<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="author" content="Wessam Abdelwahab" >
			<meta name="description" content="Wessam Abdelwahab Website" />
			<meta name="google-site-verification" content="QkTQqYJbBSWczVtBHymPT0Zip0jyIP_dsRL9ziUa9bs" />
			<meta name="robots">
			<meta name="googlebot">
			<meta name="keywords" content="Wessam Abdelwahab, enterprise solutions architect" />
			<meta property="og:type" content="website"/>
			<meta property="og:title" content="Wessam Abdelwahab - Enterprise Solutions Architect"/>
			<meta property="og:description" content="Public Website of Wessam Abdelwahab."/>
   			<meta property="og:url" content="https://wessamabdelwahab.github.io/"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/images/wessam_abdelwahab.JPG" type="image/x-icon">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<title>Wessam Abdelwahab</title>
		</head>

		<body class="body">
			<div class="header">
				<div style="position: relative;	text-align: center;">
					<a href="/"><img src="/images/crater.png" alt="Al Wahbah Crater" title="Al Wahbah Crater" class="entry-image" align="middle" width="600" height="400"></a> 
				</div>
			</div>
			<div class="row">
				<div class="col-3 col-s-3 menu">
					<ul>
						<a href="/"><li>About</li></a> 
						<a href="/skills"><li>Skills</li></a> 
						<a href="/experience"><li>Experience</li></a>
						<a href="/certifications"><li>Certifications</li></a> 
						<a href="/education"><li>Education</li></a> 
						<!-- <a href="/blog"><li>Blog</li></a>-->
						<a href="/contact"><li>Contact</li></a> 
					</ul>   
				</div>
				<div class="col-6 col-s-9">
						{{ content }}
				</div>
				<div class="col-3 col-s-12">
					<div class="aside"><div id="DateTime"></div></div>
					</BR>
					<div class="aside2">
						<img class="profile-img" src="/images/wessam_abdelwahab.JPG" alt="Wessam Abdelwahab" >
					</div>
					</BR>
					<div class="aside2">
						<a href="https://www.linkedin.com/in/wessamabdelwahab/" class="fa fa-linkedin" target="_blank"></a>
						<a href="https://github.com/wessamabdelwahab" class="fa fa-github" target="_blank"></a>
					</div>
					<button  onclick="topFunction()" id="myBtn" title="Go to top"class="fa fa-arrow-circle-up"></button>
				</div>
			</div>
			<div class ="footer">
				<p>© Copyright Wessam Abdelwahab</p>
			</div>
			<script lang="text/javascript" src="/js/main.js"></script>
		</body>
	</html>