<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="./images/cloud-icon.png" type="image/x-icon">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<title>{{ page.title }}</title>
		</head>

		<body class="body">
			<div class="header">
				<h1>Wessam Abdelwahab</h1>
			</div>
			<div class="row">
				<div class="col-3 col-s-3 menu">
					<ul>
						<a href="/"><li>Home</li></a> 
						<a href="/about"><li>About</li></a> 
						<a href="#Posts"><li>Posts</li></a> 
						<a href="#Publications"><li>Publications</li></a> 
						<a href="#Contact"><li>Contact</li></a> 
					</ul>   
					<!-- <BR/> -->
					<!-- <img src="./images/lion-logo.png" alt="YU" width="310" height="210"> -->
				</div>
				<div class="col-6 col-s-9">
					<h1>Under Construction</h1>
					<p>Comming Soon</p>
				</div>
				<div class="col-3 col-s-12">
					<div class="aside"><div id="DateTime"></div></div>
					<button  onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
				</div>
			</div>
			<div class ="footer">
				<p>Exploring the Power of Cloud Computing</p>
			</div>
			<script lang="text/javascript" src="./js/main.js"></script>
		</body>
	</html>